<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="prose mx-auto mt-28 px-5">
      <%= tag.p notice, class: "bg-green-100 text-green-800 p-4 rounded" if notice %>
      <%= tag.p alert, class: "bg-yellow-100 text-yellow-800 p-4 rounded" if alert %>

      <nav class="flex justify-between items-center mb-8">
        <h1 class="m-0"><%= link_to "Url Shortener", root_path, class: "no-underline font-extrabold" %></h1>

        <div class="flex gap-2 items-center">
          <% if user_signed_in? %>
            <%= link_to "Profile", edit_user_registration_path, class: "text-blue-500 hover:text-blue-700 no-underline" %>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "text-blue-500 hover:text-blue-700" %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, class: "text-blue-500 hover:text-blue-700 no-underline" %>
            <%= link_to "Sign Up", new_user_registration_path, class: "text-blue-500 hover:text-blue-700 no-underline" %>
          <% end %>
        </div>
      </nav>

      <%= yield %>
    </main>
  </body>
</html>
